USE [master]
GO
/****** Object:  Database [caso4]    Script Date: 5/26/2023 1:30:49 AM ******/
CREATE DATABASE [caso4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'caso4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2\MSSQL\DATA\caso4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'caso4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2\MSSQL\DATA\caso4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [caso4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [caso4]
GO
/****** Object:  Table [dbo].[evento_log]    Script Date: 5/26/2023 1:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evento_log](
	[evento_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[id_referencia1] [bigint] NOT NULL,
	[Id_referencia2] [bigint] NOT NULL,
	[valor1] [varchar](50) NOT NULL,
	[valor2] [varchar](50) NOT NULL,
	[creado] [datetime] NOT NULL,
	[computer] [varchar](100) NOT NULL,
	[usuario] [varchar](150) NOT NULL,
	[checksum] [varchar](50) NULL,
	[fuente_id] [int] NOT NULL,
	[tipo_evento_id] [int] NOT NULL,
	[nivel_id] [int] NOT NULL,
	[tipo_objeto_id] [int] NOT NULL,
 CONSTRAINT [PK_evento_log] PRIMARY KEY CLUSTERED 
(
	[evento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuentes]    Script Date: 5/26/2023 1:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuentes](
	[fuete_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_fuentes] PRIMARY KEY CLUSTERED 
(
	[fuete_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nivel]    Script Date: 5/26/2023 1:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nivel](
	[nivel_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_nivel] PRIMARY KEY CLUSTERED 
(
	[nivel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_evento]    Script Date: 5/26/2023 1:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_evento](
	[tipo_evento_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tipo_evento] PRIMARY KEY CLUSTERED 
(
	[tipo_evento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_objeto]    Script Date: 5/26/2023 1:30:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_objeto](
	[tipo_objeto_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tipo_objeto] PRIMARY KEY CLUSTERED 
(
	[tipo_objeto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[evento_log]  WITH CHECK ADD  CONSTRAINT [FK_evento_log_fuentes] FOREIGN KEY([fuente_id])
REFERENCES [dbo].[fuentes] ([fuete_id])
GO
ALTER TABLE [dbo].[evento_log] CHECK CONSTRAINT [FK_evento_log_fuentes]
GO
ALTER TABLE [dbo].[evento_log]  WITH CHECK ADD  CONSTRAINT [FK_evento_log_nivel] FOREIGN KEY([nivel_id])
REFERENCES [dbo].[nivel] ([nivel_id])
GO
ALTER TABLE [dbo].[evento_log] CHECK CONSTRAINT [FK_evento_log_nivel]
GO
ALTER TABLE [dbo].[evento_log]  WITH CHECK ADD  CONSTRAINT [FK_evento_log_tipo_evento] FOREIGN KEY([tipo_evento_id])
REFERENCES [dbo].[tipo_evento] ([tipo_evento_id])
GO
ALTER TABLE [dbo].[evento_log] CHECK CONSTRAINT [FK_evento_log_tipo_evento]
GO
ALTER TABLE [dbo].[evento_log]  WITH CHECK ADD  CONSTRAINT [FK_evento_log_tipo_objeto] FOREIGN KEY([tipo_objeto_id])
REFERENCES [dbo].[tipo_objeto] ([tipo_objeto_id])
GO
ALTER TABLE [dbo].[evento_log] CHECK CONSTRAINT [FK_evento_log_tipo_objeto]
GO
USE [master]
GO
